# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarised

**Objectives**
- Python
- R
- SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|R Studio          |
|Apache Spark      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60

**Author**

Donald Simukai Zhou